@import '../../../assets/style/variables.sass'
	
hr
	width: 30vw

.wraper-footer
	height: $footer-h
	width: 100%
	background: $color-bg
	color: $color-text

	display: flex
	flex-direction: column
	// justify-content: center
	align-items: center

.text
	font-size: 0.9rem
	margin: 15px

.my-name
	align-self: flex-end
	margin: 15px
