<div class="wrapper">
  <h2>Примерный план развития</h2>
  <ul>
    <li><h3>Создать репозиторий и настроить его</h3></li>
    <li><h3>Создать проект и разметку</h3></li>
    <li><h3>Создать первый компонент</h3></li>
    <li><h3>Сделать первичный дизайн</h3></li>
    <li><h3>...</h3></li>
    <li><h3>...</h3></li>
    <li><h3>...</h3></li>
  </ul>
</div>