<div class="wrapper">
  <div class="title">
    <h2>JS-Learning Works!</h2>
    <button (click)="nextChapter()">Next Chapter</button>
    <button (click)="previousChapter()">Back</button>
    <button (click)="nextPage()">Next Page</button>
    <button (click)="previousPage()">Back</button>
  </div>

  <div class="content">
    <div [ngSwitch]="chapter">





      <ng-template ngSwitchCase="1">
      <!-- CHAPTER 1 -->
        <h3>CH-01 Введение</h3>

        <div [ngSwitch]="page">
          <ng-template ngSwitchCase="1.1">
            <!-- PAGE CONTENT -->
            <h3>PG-01 Введение в JavaScript</h3>
            <h4>Что такое JS?</h4>
            <p>
              Изначально JavaScript был создан, чтобы «сделать веб-страницы живыми». <br> 
              Программы на этом языке называются скриптами. <br>
              Скрипты распространяются и выполняются, как простой текст. Им не нужна специальная подготовка или компиляция для запуска. <br>
              Сегодня JavaScript может выполняться не только в браузере, но и на сервере или на любом другом устройстве, которое имеет специальную программу, называющуюся «движком» JavaScript.
            </p>
            <h4>Что делает JavaScript особенным?</h4>
            <ul>
              <li>Полная интеграция с HTML/CSS.</li>
              <li>Простые вещи делаются просто.</li>
              <li>Поддерживается всеми основными браузерами и включён по умолчанию.</li>
            </ul>
            <p>Вообщем-то это все что нужно знать для начала о JS.</p>
          </ng-template>

          <ng-template ngSwitchCase="1.2">
            <!-- PAGE CONTENT -->
            <h3>PG-02 Справочники и спецификации</h3>
            <p><a href="https://www.ecma-international.org/publications/standards/Ecma-262.htm">Спецификация ECMA-262</a> содержит самую глубокую, детальную и формализованную информацию о JavaScript. Она определяет сам язык.</p>
            <p>
              <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference">MDN (Mozilla) JavaScript Reference</a> – это справочник с примерами и другой информацией. Хороший источник для получения подробных сведений о функциях языка, методах встроенных объектов и так далее. <br>
              Хотя зачастую вместо их сайта удобнее использовать какой-нибудь интернет-поисковик, вводя там запрос «MDN [что вы хотите найти]»
            </p>
            <p>
              Таблицы совместимости <br>
              <a href="http://caniuse.com/">http://caniuse.com</a> – таблицы с информацией о поддержке по каждой возможности языка. <br>
              <a href="https://kangax.github.io/compat-table">https://kangax.github.io/compat-table</a> – таблица с возможностями языка и движками, которые их поддерживают и не поддерживают.
            </p>
          </ng-template>

          <ng-template ngSwitchCase="1.3">
            <!-- PAGE CONTENT -->
            <h3>PG-03 Редакторы кода</h3>
            <p>
              Есть два основных типа редакторов: IDE и «лёгкие» редакторы. Многие используют по одному инструменту каждого типа. <br>
              Термином IDE (Integrated Development Environment, «интегрированная среда разработки») называют мощные редакторы с множеством функций, которые работают в рамках целого проекта. <br>
              «Лёгкие» редакторы менее мощные, чем IDE, но они отличаются скоростью, удобным интерфейсом и простотой. (блокнотик короче)
            </p>
          </ng-template>
          
          <ng-template ngSwitchCase="1.4">
            <!-- PAGE CONTENT -->
            <h3>PG-04 Консоль разработчика</h3>
            <p>
              В браузер встроены так называемые «Инструменты разработки» (Developer tools или сокращённо — devtools). <br>
              Инструменты разработчика позволяют нам смотреть ошибки, выполнять команды, проверять значение переменных и ещё много всего полезного. <br>
              В большинстве браузеров, работающих под Windows, инструменты разработчика можно открыть, нажав F12. В Chrome для Mac используйте комбинацию Cmd+Opt+J, Safari: Cmd+Opt+C (необходимо предварительное включение «Меню разработчика»).
            </p>
          </ng-template>
        </div>
      </ng-template>
      




      <ng-template ngSwitchCase="2">
      <!-- CHAPTER 2 -->
        <h3>CH-02 Основы JavaScript</h3>

        <div [ngSwitch]="page">
          <ng-template ngSwitchCase="2.1">
            <h3>PG-01 Привет, мир!</h3>
            <!-- PAGE CONTENT -->
            <p>
              Итак, сначала давайте посмотрим, как выполнить скрипт на странице. Для серверных сред (например, Node.js), вы можете выполнить скрипт с помощью команды типа "node my.js". Для браузера всё немного иначе. <br>
              Программы на JavaScript могут быть вставлены в любое место HTML-документа с помощью тега &lt;script&gt;.
            </p>
            <img src="../../../../assets/image/Снимок.JPG" alt="code">
            <h4>Современная разметка</h4>
            <p>
              Тег &lt;script&gt; имеет несколько атрибутов, которые редко используются, но всё ещё могут встретиться в старом коде: <br>
              Атрибут type: &lt;script type=…&gt; <br>
              Старый стандарт HTML, HTML4, требовал наличия этого атрибута в теге &lt;script&gt;. Обычно он имел значение type=&quot;text/javascript&quot;. На текущий момент этого больше не требуется. <br>
              Атрибут language: &lt;script language=…&gt; <br>
              Этот атрибут должен был задавать язык, на котором написан скрипт. Но так как JavaScript является языком по умолчанию, в этом атрибуте уже нет необходимости.
            </p>
            <h4>Внешние скрипты</h4>
            <p>
              Файл скрипта можно подключить к HTML с помощью атрибута src: <br>
              <code>&lt;script src=&quot;/path/to/script.js&quot;&gt;&lt;/script&gt;</code><br>
              Если атрибут src установлен, содержимое тега script будет игнорироваться. В одном теге &lt;script&gt; нельзя использовать одновременно атрибут src и код внутри.
            </p>
          </ng-template>

          <ng-template ngSwitchCase="2.2">
            <h3>PG-02 Структура кода</h3>
            <!-- PAGE CONTENT -->
            <h4>Инструкции</h4>
            <p>Инструкции – это синтаксические конструкции и команды, которые выполняют действия.</p>
            <h4>Точка с запятой</h4>
            <p>
              В большинстве случаев точку с запятой можно не ставить, если есть переход на новую строку. <br>
              Короче просто закрывает Инструкцию
            </p>
            <h4>Комментарии</h4>
            <p>
              Не стесняйтесь использовать комментарии в своём коде. <br>
              Однострочные комментарии начинаются с двойной косой черты //. <br>
              Многострочные комментарии начинаются косой чертой со звёздочкой /* и заканчиваются звёздочкой с косой чертой */. <br>
              Вложенные комментарии не поддерживаются!
            </p>
          </ng-template>

          <ng-template ngSwitchCase="2.3"> 
            <h3>PG-03 Строгий режим — "use strict"</h3>
            <!-- PAGE CONTENT -->
            <p>В 2009 году появился ECMAScript 5 (ES5). Он добавил новые возможности в язык и изменил некоторые из существующих. Чтобы устаревший код работал, как и раньше, по умолчанию подобные изменения не применяются. Поэтому нам нужно явно их активировать с помощью специальной директивы: "use strict".</p>
            <h4>«use strict»</h4>
            <p>
              Директива выглядит как строка: "use strict" или 'use strict'. <br>
              Вместо всего скрипта "use strict" можно поставить в начале большинства видов функций. <br>
              Над "use strict" могут быть записаны только комментарии. <br>
              Нет никакого способа отменить use strict
            </p>
            <h4>Консоль браузера</h4>
            <p>
              Обратите внимание, что use strict по умолчанию в ней выключен. <br>
              Иногда, когда use strict имеет значение, вы можете получить неправильные результаты.
            </p>
            <h4>Всегда ли нужно использовать «use strict»?</h4>
            <p>Современный JavaScript поддерживает «классы» и «модули» — которые автоматически включают строгий режим. Поэтому в них нет нужды добавлять директиву "use strict".</p>
          </ng-template>

          <ng-template ngSwitchCase="2.4">
            <h3>Переменные</h3>
            <!-- PAGE CONTENT -->
            <h4>Переменная</h4>
            <p>
              Переменная – это «именованное хранилище» для данных. <br>
              Для создания переменной в JavaScript используйте ключевое слово <code>let</code>. <br>
              Поместить в неё данные, используя оператор присваивания <code>=</code> <br>
              Строка сохраняется в области памяти, связанной с переменной.
            </p>
            <h4>Имена переменных</h4>
            <p>
              В JavaScript есть два ограничения, касающиеся имён переменных: <br>
              1. Имя переменной должно содержать только буквы, цифры или символы $ и _. <br>
              2. Первый символ не должен быть цифрой. <br>
              Если имя содержит несколько слов, обычно используется верблюжья нотация, то есть, слова следуют одно за другим, где каждое следующее слово начинается с заглавной буквы: myVeryLongName. <br>
              Регистр имеет значение: apple и AppLE – это две разные переменные. <br>
              Нелатинские буквы разрешены, но не рекомендуются <br>
              Существует <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Lexical_grammar#%D0%9A%D0%BB%D1%8E%D1%87%D0%B5%D0%B2%D1%8B%D0%B5_%D1%81%D0%BB%D0%BE%D0%B2%D0%B0">список зарезервированных слов</a>, которые нельзя использовать в качестве имён переменных, потому что они используются самим языком.
            </p>
            <h4>Константы</h4>
            <p>Чтобы объявить константную, то есть, неизменяемую переменную, используйте <code>const</code></p>
            <h4>Константы в верхнем регистре</h4>
            <p>
              Широко распространена практика использования констант в качестве псевдонимов для трудно запоминаемых значений. <br>
              Названия таких констант пишутся с использованием заглавных букв и подчёркивания.
            </p>
          </ng-template>

          <ng-template ngSwitchCase="2.5">
            <h3>Типы данных</h3>
            <!-- PAGE CONTENT -->
            <p>
              Есть восемь основных типов данных в JavaScript. Мас язык являеться «динамически типизированным». Это значит, что типы данных есть, но переменные не привязаны ни к одному из них. <br>
              1. <code>number</code><br>
              2. <code>bigint</code><br>
              3. <code>string</code><br>
              4. <code>boolean</code><br>
              5. <code>null</code><br>
              6. <code>undefined</code><br>
              7. <code>object</code><br>
              8. <code>symbolsymbol</code>
            </p>
            <h4>Число</h4>
            <p>
              Числовой тип данных (<code>number</code>) представляет как целочисленные значения, так и числа с плавающей точкой. <br>
              В JavaScript тип «number» не может содержать числа больше, чем (253-1) (т. е. 9007199254740991), или меньше, чем -(253-1) для отрицательных чисел. Это техническое ограничение вызвано их внутренним представлением. <br>
              Кроме обычных чисел, существуют так называемые «специальные числовые значения», которые относятся к этому типу данных: <code>Infinity</code>, <code>-Infinity</code> и <code>NaN</code>. <br>
              <code>Infinity</code> представляет собой математическую бесконечность ∞. Это особое значение, которое больше любого числа. <br>
              <code>NaN</code> означает вычислительную ошибку. Это результат неправильной или неопределённой математической операции. Значение <code>NaN</code> «прилипчиво». Любая операция с <code>NaN</code> возвращает <code>NaN</code>
            </p>
            <h4>BigInt</h4>
            <p>
              Чтобы создать значение типа <code>BigInt</code>, необходимо добавить <code>n</code> в конец числового литерала: <br>
              <code>const bigInt = 1234567890123456789012345678901234567890n;</code>
            </p>
            <h4>Строка</h4>
            <p>
              Строка (<code>string</code>) в JavaScript должна быть заключена в кавычки. <br>
              В JavaScript существует три типа кавычек: <br>
              1. Двойные кавычки: <code>"Привет"</code>. <br>
              2. Одинарные кавычки: <code>'Привет'</code>. <br>
              3. Обратные кавычки: <code>`Привет`</code>. <br>
              Двойные или одинарные кавычки являются «простыми», между ними нет разницы в JavaScript. <br>
              Обратные же кавычки имеют расширенную функциональность. Они позволяют нам встраивать выражения в строку, заключая их в <code>${{ '{' }}…{{ '}' }}</code>. <br>
              Нет отдельного типа данных для одного символа.
            </p>
            <h4>Булевый (логический) тип</h4>
            <p>Булевый тип (<code>boolean</code>) может принимать только два значения: <code>true</code> (истина) и <code>false</code> (ложь).</p>
            <h4>Значение «null»</h4>
            <p>
              Специальное значение <code>null</code> не относится ни к одному из типов. <br>
              Оно формирует отдельный тип, который содержит только значение <code>null</code> <br>
              Это просто специальное значение, которое представляет собой «ничего», «пусто» или «значение неизвестно».
            </p>
            <h4>Значение «undefined»</h4>
            <p>
              Специальное значение <code>undefined</code> также стоит особняком. Оно формирует тип из самого себя так же, как и <code>null</code>. <br>
              Оно означает, что значение не было присвоено.
            </p>
            <h4>Объекты и символы</h4>
            <p>
              Тип object (объект) – особенный. <br>
              Все остальные типы называются «примитивными», потому что их значениями могут быть только простые значения (будь то строка, или число, или что-то ещё). В объектах же хранят коллекции данных или более сложные структуры. <br>
              Тип symbol (символ) используется для создания уникальных идентификаторов в объектах.
            </p>
            <h4>Оператор typeof</h4>
            <p>
              Оператор <code>typeof</code> возвращает тип аргумента. <br>
              У него есть две синтаксические формы: <br>
              1. Синтаксис оператора: <code>typeof x</code>. <br>
              2. Синтаксис функции: <code>typeof(x)</code>. <br>
              Вызов typeof x возвращает строку с именем типа
            </p>
          </ng-template>

          <ng-template ngSwitchCase="2.6">

          </ng-template>
        </div>
      </ng-template>





      <ng-template ngSwitchCase="3">
      <!-- CHAPTER 3 -->
        <h3>CH-03 Introduction 3</h3>

        <div [ngSwitch]="page">
          <ng-template ngSwitchCase="3.1">
            <h3>Introduction To JavaScript</h3>
            <!-- PAGE CONTENT -->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur optio quae veritatis nobis, ea modi quidem iusto dolores ipsam quos?
          </ng-template>

          <ng-template ngSwitchCase="3.2">
            <h3>Introduction To JavaScript</h3>
            <!-- PAGE CONTENT -->
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis vitae recusandae vero dicta hic velit quidem id voluptate at rerum.
          </ng-template>

          <ng-template ngSwitchCase="3.3">
            <h3>Introduction To JavaScript</h3>
            <!-- PAGE CONTENT -->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eum earum inventore eos incidunt? Harum aliquid eligendi delectus natus nulla.
          </ng-template>
        </div>
      </ng-template>





    </div>
  </div>
</div>
