@import '../../../../assets/style/variables.sass'

img
  height: 350px

.wrapper
  min-height: calc(100vh - #{$footer-h} - #{$header-h})
  display: flex
  flex-direction: column
  
.title
  display: flex
  align-items: center
  padding: 15px 15px 0 15px
  width: 100%
  button
    margin-left: 15px
    padding: 0 15px
    font-weight: 900
    font-size: 1rem

.content
  padding: 15px
  width: 100%