<div class="wrapper">
  <div class="component">
    <div class="text" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati itaque voluptatibus sapiente iusto vitae. Fugiat.">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati itaque voluptatibus sapiente iusto vitae. Fugiat.</div>
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati itaque voluptatibus sapiente iusto vitae. Fugiat.</div>
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati itaque voluptatibus sapiente iusto vitae. Fugiat.</div>
  </div>
  
</div>