@import '../../../../assets/style/variables.sass'

.wrapper
  min-height: calc(100vh - #{$footer-h} - #{$header-h})
  display: flex
  flex-direction: column
  align-items: center
  padding: 25px

.component
  width: 400px
  height: 100px
  overflow-y: scroll
  background-color: #bebebe

.text
  height: 42px
  margin: 10px

  font-size: 18px
  line-height: 21px

  //без него не пашет
  display: -webkit-box
  //количество строк
  -webkit-line-clamp: 2
  //ориентация строк
  -webkit-box-orient: vertical
  //формат отображения контента за рамками блока
  overflow: hidden
  //добавляем троеточие в конец
  text-overflow: ellipsis

// [tooltip]:hover:after
//   content: attr(tooltip)
//   border: #777
//   background-color: #aaa
//   padding: 5px

::-webkit-scrollbar-track
  background-color: #bebebe

::-webkit-scrollbar
  width: 5px
  background-color: #000

::-webkit-scrollbar-thumb
  background-color: #000
  &:hover
    background-color: #666666

// /* полоса прокрутки (скроллбар) */
// ::-webkit-scrollbar
//   width: 5px /* ширина для вертикального скролла */
//   height: 8px /* высота для горизонтального скролла */
//   background-color: #9e9e9e

// /* ползунок скроллбара */
// ::-webkit-scrollbar-thumb
//   background-color: #843465
//   border-radius: 9em
//   box-shadow: inset 1px 1px 10px #f3faf7

// ::-webkit-scrollbar-thumb:hover
//   background-color: #253861

// /* Стрелки */
// ::-webkit-scrollbar-button:vertical:start:decrement
//   background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%)
//   background-color: #f6f8f4

// ::-webkit-scrollbar-button:vertical:end:increment
//   background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%)
//   background-color: #f6f8f4

// ::-webkit-scrollbar-button:horizontal:start:decrement
//   background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%)
//   background-color: #f6f8f4

// ::-webkit-scrollbar-button:horizontal:end:increment
//   background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%)
//   background-color: #f6f8f4
