@import '../../../assets/style/variables.sass'
	
.wraper-header
	width: 100%
	height: $header-h
	background: $color-bg
	color: $color-text

	display: flex
	justify-content: space-between
	align-items: center


.wraper-pages
	height: 100%
	display: flex
	align-items: center

a
	text-decoration: none
	font-weight: bold

	&:link
		color: #000000
	&:visited
		color: #000000
	&:hover
		color: #000000
		text-decoration: underline
	&:active
		color: #000000

li
	list-style: none
	
h1
	font-size: 1.8rem
	padding: 15px
	text-decoration: underline


.page
	border-radius: 50vh
	background: #ffffff
	padding: 10px 15px
	margin-left: 15px
