<div class="wraper-header">
    <ul class="wraper-pages">
        <li>
            <a href="" class="page">First Component</a>
        </li>
        <li>
            <a href="" class="page">First Component</a>
        </li>
    </ul>
    <h1>Angular TEST</h1>
</div>