@import '../../../../assets/style/variables.sass'
  
.wrapper
  min-height: calc(100vh - #{$footer-h} - #{$header-h})
  display: flex
  flex-direction: column

.wrap-wrap
  display: flex
  flex-direction: column
  padding: 25px
  margin: 15px
  border: solid 1px black
  border-radius: 15px

h2
  padding-bottom: 20px