<div class="wrapper">

  <div class="wrap-wrap">
    <h2>Привязка элемента DOM к значению компонента (односторонняя)</h2>

    <h3>{{ title }}</h3>
    <p>{{ text }}</p>
    <strong>Number: {{ number }}</strong>
    <em>{{ arry }}</em>
    <p>{{ obj }}</p>
    <pre>{{ obj | json}}</pre>
    <p>{{ getInfo() }}</p>
    <div>
      <img src="{{ imgUrl }}">
    </div>
  </div>

  <div class="wrap-wrap">
    <h2>Привязка свойства элемента DOM к значению компонента (односторонняя)</h2>

    <div>
      <img [src]="imgUrl">
      <button [disabled]="disabled">Enable</button>
    </div>
  </div>

  <div class="wrap-wrap">
    <h2>Привязка метода компонента к событию в DOM (односторонняя)</h2>

    <h3>{{ title }}</h3>
    <div>
      <button (click)="changeTitle()">Change title</button>
      <button (click)="title = 'Inline title'">Change title inline</button>
    </div>
    <div>
      <input type="text" (input)="inputHandler($event)" [value]="title">
      <input type="text" #myInput (input)="inputHandler2(myInput.value)" [value]="title">
    </div>
  </div>

  <div class="wrap-wrap">
    <h2>(Двусторонняя привязка) Когда элемент DOM привязан к значению на компоненте, при этом изменения на одном конце привязки сразу приводят к изменениям на другом конце</h2>
    <h2>!!! ОБЯЗАТЕЛЬНО ИМПОРТ в модуль (не в компонент) FormsModule from '@angular/forms' !!!</h2>

    <div>
      <h3>{{ title }}</h3>
      <input type="text" [(ngModel)]="title">
    </div>
  </div>
</div> 