<div class="wrapper">

  <h1>Welcome!</h1>
  <div class="buttons">
    <button (click)="clickBtn1()">1</button>
    <button (click)="clickBtn2()">2</button>
    <button (click)="clickBtn3()">3</button>
    <button (click)="clickBtn4()">4</button>
  </div>
</div>