@import '../../../../assets/style/variables.sass'
  
.wrapper
  min-height: calc(100vh - #{$footer-h} - #{$header-h})
  display: flex
  flex-direction: column
  align-items: center

.buttons
  height: 80px

h1
  padding: 25px 0

button
  width: 50px
  height: 50px
  margin: 15px
  border: 0

  &:focus
    background-color: #000
