<!-- <app-first-component></app-first-component> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-zagadka></app-zagadka> -->
<!-- <app-tooltip></app-tooltip> -->
<app-js-learning></app-js-learning>